body {
  background: radial-gradient(
    circle,
    rgb(232, 240, 254) 0%,
    rgb(255, 255, 255) 0%,
    rgb(232, 240, 254) 84%
  );
  font-family: "Encode Sans Expanded", sans-serif;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: transparent;
  border-radius: 4px;
  background: #e8f0fe;
  color: #e8630a;
  font-size: 18px;
  font-family: "Encode Sans Expanded", sans-serif;
}
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  font-weight: 600;
}
footer {
  border-top: 1px solid #e8f0fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #534d87;
}
a {
  color: rgba(232, 99, 10, 0.8);
  font-weight: 500;
  text-decoration: none;
  transition: all 200ms ease;
}
a:hover {
  color: #e8630a;
}
.container {
  background: #ffffff;
  color: #3e386d;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(65, 50, 100, 0.4);
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid #e8f0fe;
  padding: 30px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
  font-family: monospace;
}
.time small {
  font-size: 24px;
  line-height: 48px;
}
.navigation-link {
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h2,
  .date,
  .time {
    text-align: center;
  }
  .time {
    font-size: 36px;
  }
}
