body {
  background: radial-gradient(
    circle,
    rgb(196, 220, 224) 0%,
    rgb(218, 244, 245) 30%,
    rgb(196, 220, 224) 84%
  );
  font-family: "Encode Sans Expanded", sans-serif;
}
.container {
  background: #daf4f5;
  color: #5c8d89;
  max-width: 600px;
  margin: 60px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px 8px rgba(128, 163, 162, 0.6);
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: transparent;
  border-radius: 4px;
  background: #c4dce0;
  color: #e8630a;
  font-size: 18px;
  font-family: "Encode Sans Expanded", sans-serif;
}
h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid #c4dce0;
  padding: 30px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
  font-family: monospace;
}
.time small {
  font-size: 24px;
  line-height: 48px;
}
footer {
  text-align: center;
  color: #80a3a2;
  font-size: 18px;
  padding: 10px;
  font-weight: 500;
}
a {
  color: rgba(232, 99, 10, 0.6);
  text-decoration: none;
  transition: all 200ms ease;
}
a:hover {
  color: #e8630a;
}
